/* STYLE GLOBAL */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #F2771B;
    --secondary-color: #0a0035;
}

label:has(+ input[required]:not([type="checkbox"]))::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after {
    content: " *";
    color: red;
}

/* Activation des menus */
#menu>.active,
#menu-pro>.active,
#filtres.active,
#cgu.active,
#politique.active,
#mentions.active {
    --tw-translate-x: 0%;
}

#menu a.active,
#menu-pro a.active {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 4px;
}

#layer-background.active,
#layer-background-filtres.active {
    display: block;
    background-color: rgba(0, 0, 0, .20);
    backdrop-filter: blur(5px);
}

/* Cartes des offres */
.card.active, .card .active {
    box-shadow: 0 0 8px 3px var(--secondary-color);
}

/* Slider d'images (détails d'une offre) */
.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 1 !important;
    border: 1px black solid;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

/* Checkboxs */
input[type="checkbox"]:not([class*="checkboxHidden"]) {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    min-width: 15px;
    min-height: 15px;
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
    position: relative;
    display: inline-block;
}

input[type="checkbox"]:not([class*="checkboxHidden"]):checked {
    background: #F2771B;
}

input[type="checkbox"]:not([class*="checkboxHidden"]):checked:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: #ffffff;
    font-size: 12.5px;
    position: absolute;
    padding-top: 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

/* Icône Wi-Fi -> En ligne/Hors ligne */
.toggle-wifi-offline:hover path:last-child {
    visibility: visible;
}

.toggle-wifi-online:hover path:last-child {
    visibility: hidden;
    display: none;
}

/* Scrollbar  */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0a0035;
    border-radius: 10px;
    border: 5px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #222222;
}

/* Masquer la scrollbar des menus tablette (Menus de gauche) */

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.scroll-hidden {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}

/* Police */

@layer base {
    @font-face {
        font-family: 'Cormorant-Bold';
        src: url(/public/polices/cormorant-webfont.woff2) format('woff2');
        src: url(/public/polices/cormorant-webfont.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: url(/public/polices/poppins-webfont.woff2) format('woff2');
        src: url(/public/polices/poppins-webfont.woff) format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Poppins';
        src: url(/public/polices/Poppins-Bold.woff2) format('woff2');
        src: url(/public/polices/Poppins-Bold.woff) format('woff');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}