<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutons</title>
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://kit.fontawesome.com/d815dd872f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- BOUTON VERT -->
    <a href="" class="bg-secondary text-white font-medium py-2 px-4 rounded-lg inline-flex items-center border border-transparent hover:border hover:bg-secondary/90 hover:border-secondary/90 focus:scale-[0.97] m-1">        
        <i class="fa-solid fa-arrow-down-wide-short fill-current w-4 h-4 mr-2"></i>
        Trier
    </a>
    
    <a href="" class="bg-transparent text-secondary font-medium py-2 px-4 rounded-lg inline-flex items-center border border-secondary hover:border hover:bg-secondary hover:border-secondary hover:text-white focus:scale-[0.97] m-1">        
        <i class="fa-solid fa-arrow-down-wide-short fill-current w-4 h-4 mr-2"></i>
        Trier
    </a>

    <br>

    <!-- BOUTON ORANGE -->
    <a href="" class="bg-primary text-white font-medium py-2 px-4 rounded-lg inline-flex items-center border border-transparent focus:scale-[0.97] hover:bg-orange-600 hover:border-orange-600 hover:text-white m-1"> 
        <i class="fa-solid fa-filter fill-current w-4 h-4 mr-2"></i>
        Filtrer
    </a>

    <a href="" class="bg-transparent text-primary font-medium py-2 px-4 rounded-lg inline-flex items-center border border-primary hover:text-white hover:bg-primary hover:border-primary m-1 
    focus:scale-[0.97]">
        <i class="fa-solid fa-filter fill-current w-4 h-4 mr-2"></i> 
        Filtrer
    </a>
    <br>

    <!-- BOUTON ROUGE -->
    <a href="" class="bg-red-500 text-white font-medium py-2 px-4 rounded-lg inline-flex items-center hover:bg-red-600 hover:border-red-700 hover:text-white m-1 focus:scale-[0.97]"> 
        Annuler
    </a>
    <a href="" class="bg-transparent text-red-500 font-medium py-2 px-4 rounded-lg inline-flex items-center  border border-red-500 hover:text-white hover:bg-red-500 hover:border-red-500 m-1 focus:scale-[0.97]"> 
        Annuler
    </a>
     
</body>
</html>

