<!-- 
    Composant du footer pour le pro
    Pour l'ajouter, écrier la balise <div id='footer'></div> dans votre code html
-->
<footer class="bg-secondary flex flex-col items-center text-white justify-center h-40 p-4 mt-2">
        <div>
            <a href="" class="hover:text-primary">Mentions légales</a>
            -
            <a href="" class="hover:text-primary">CGU</a>
            -
            <a href="" class="hover:text-primary">Contacter le support</a>
            -
            <a href="/pages/login-pro.php" class="hover:text-primary">Vous êtes pro ?</a>
        </div>
        <a href="">@2024, TripEnArmor</a>
</footer>
