<a href="" class="bg-secondary text-white font-bold py-2 px-4 rounded-lg inline-flex items-center hover:bg-transparent border border-transparent hover:text-secondary hover:border-secondary hover:border">        <i class="fa-solid fa-arrow-down-wide-short fill-current w-4 h-4 mr-2"></i>
    Trier</i>
</a>

<a href="" class="bg-transparent text-white font-bold py-2 px-4 rounded-lg inline-flex items-center hover:bg-secondary border border-secondary hover:text-white hover:border-transparent hover:border">        <i class="fa-solid fa-arrow-down-wide-short fill-current w-4 h-4 mr-2"></i>
    Trier</i>
</a>

<a href="" class="bg-primary text-white font-bold py-2 px-4 rounded-lg inline-flex items-center hover:bg-transparent border border-transparent hover:text-primary hover:border-primary hover:border">        <i class="fa-solid fa-filter fill-current w-4 h-4 mr-2"></i>
    Filtrer</i>
</a>

<a href="" class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg inline-flex items-center hover:bg-transparent border border-transparent hover:text-red-500 hover:border-red-500 hover:border"> Filtrer
</a>