<header class="w-full bg-white flex justify-center items-end p-4 h-20 border-b-2 border-black fixed top-0">
    <div class="flex grow justify-between items-center">
        <a href="#" onclick="toggleMenu()"><img class="" src="/public/icones/menu.svg" alt="[img] Menu burger"></a>
        <a href="/pages/accueil.html"><img class="" src="/public/images/logo-PACT.svg" alt="[img] Logo-PACT"></a>
        <a href=""><img class="" src="/public/icones/account.svg" alt="[img] account"></a>
    </div>
</header>