<!--
    Composant menu
    Pour l'ajouter, écrier la balise <div id='menu' class='x'></div> dans votre code html
    La classe qui a l'unique valeur 'x' est un nombre entre 1 et 5, et permet de savoir quel menu est actif actuellement.
    Les valeurs de x et leur correspondance sont :
        1 - Accueil
        2 - Toutes les offres
        3 - A la une
        4 - Consultées récemment
        5 - Nouveautés
-->
<div class="h-full bg-base100 fixed top-0 w-7/12 left-0 -translate-x-full duration-200 z-30">
    <div class="p-4 flex flex-row gap-3 justify-start items-center">
        <img class="hover:cursor-pointer" onclick="toggleMenu()" src="/public/icones/close.svg" alt="">
        <h1 class="text-3xl">Menu</h1>
    </div>
    <div class="all-items flex flex-col items-stretch border-b-2 border-black">
        <a class="pl-5 py-3 border-t-2 border-black" href="">Accueil</a>
        <a class="pl-5 py-3 border-t-2 border-black" href="">Toutes les offres</a>
        <a class="pl-10 py-3 border-t-2 border-black" href="">A la une</a>
        <a class="pl-10 py-3 border-t-2 border-black" href="">Consultées récemment</a>
        <a class="pl-10 py-3 border-t-2 border-black" href="">Nouveautés</a>
    </div>
</div>
<div id="layer-background" onclick="toggleMenu()" class="fixed w-full h-full top-0 left-0 z-10"></div>